
   
<div style="margin: auto 0px;width: 95%; position: absolute;" >
   
  <div class="row " style="margin-bottom: 20px;" >
      <div class="col-10">
          
      </div>
      <div class="col-2" >
          <div class="btn-group-vertical" style="float: right;">
              <button type="button" class="btn btn-light btn-sm m-1 btnCrud" (click)="triggerModal(modalData)"><img src="../../../../assets/iconos/add.png" alt="">  AÑADIR FINANCIERA</button>
              <button type="button" class="btn btn-light btn-sm m-1 btnCrud" (click)="modalEditOpen(modalEditar)"><img width="15%" src="../../../../assets/iconos/edit.png" alt=""> EDITAR</button>
              <button type="button" class="btn btn-light btn-sm m-1 btnCrud"><img width="15%" src="../../../../assets/iconos/delete.png" alt="">ELIMINAR</button>
            </div>
      </div>
     
  </div>
 <div class="row " class="text-center" >
     <div class="col-12" >
      <table class="table table-striped">
          <thead class="table-danger">
            <tr>
              
              <th scope="col">CODIGO</th>
              <th scope="col">DESCRIPCION</th>
            
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let i of financieras">
             
              <td>{{i.vchCodigo |uppercase}}</td>
              <td>{{i.vchDescripcion |uppercase}}</td>
        
            </tr>
           
        
          </tbody>
        </table>
     </div>
 </div>

</div>
<!-- Modal -->
<ng-template #modalData let-modal>
  <div class="modal-header" style="background-color: #FBC1C1;">
    <h3 class="modal-title" id="modal-basic-title">AÑADIR FINANCIERA</h3>
    <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body" style="background-color: #EEEEEE;">
    
    <div class="row">
      <div class="col-md-12">
        <label for="perfil" class="form-label">CODIGO</label>
        <input type="text" class="form-control" [(ngModel)]="financiera.vchCodigo">
      </div>
   
    </div>

    <div class="row">
      <div class="col-md-12">
        <label for="perfil" class="form-label">DESCRIPCION</label>
        <input type="text" class="form-control" [(ngModel)]="financiera.vchDescripcion">
      </div>

   
    </div>


  </div>
  <div class="modal-footer" style="background-color: #EEEEEE;">
    <!-- <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button> -->
    <button type="button" class="btn " style="  background-color: #E90729;color: white;" (click)="addFinanciera()" >Agregar</button>
  </div>
</ng-template>


<!-- modal editar -->

<ng-template #modalEditar let-modal>
  <div class="modal-header" style="background-color: #FBC1C1;">
    <h3 class="modal-title" id="modal-basic-title">EDITAR FINANCIERA</h3>
    <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body" style="background-color: #EEEEEE;">
    
    <div class="row">
      <div class="col-md-12">
        <label for="perfil" class="form-label">CODIGO</label>
        <input type="text" class="form-control" [(ngModel)]="financiera.vchCodigo">
      </div>
   
    </div>

    <div class="row">
      <div class="col-md-12">
        <label for="perfil" class="form-label">DESCRIPCION</label>
        <input type="text" class="form-control" [(ngModel)]="financiera.vchDescripcion">
      </div>

   
    </div>


  </div>
  <div class="modal-footer" style="background-color: #EEEEEE;">
    <!-- <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button> -->
    <button type="button" class="btn " style="  background-color: #E90729;color: white;" (click)="addFinanciera()" >Agregar</button>
  </div>
</ng-template>