.example-container {
  padding: 20px;
    width: 100%;
    height: 85%;
    // border: 1px solid #FBC1C1;
    background: url('../../../assets/logos/logoFondo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 30%;

  }

  .list-group-item{
    margin-bottom: 10px;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    // align-items: center;
    // justify-content: center;
  }
  
  .example-sidenav {
    background-color: #FBC1C1;
    padding: 20px;
  }