<app-nav></app-nav>




<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" style="border: 1px solid #FBC1C1;border-top-left-radius: 10px;margin-top: 20px;  ">
    <!-- <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button> -->
    <div class="list-group text-center">
      <button type="button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="list-group-item list-group-item-action">Ctalogos</button>
      <button type="button" class="list-group-item list-group-item-action" (click)="triggerModal(modalData)">Usuarios</button>
      <button type="button" class="list-group-item list-group-item-action" >Perfiles</button>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">


    <div>
      <button style="background-color:  #FBC1C1;border: 1px solid #FBC1C1; height: 30px;border-top-right-radius: 5px;border-bottom-right-radius: 5px; " class="" type="button" mat-button (click)="drawer.toggle()">
         &#9776;
      </button>



  

<div class="container" style="padding: 10px;">

  <router-outlet></router-outlet>
 
  <div>
    <div class="row">
      <div class="col-12 ">
      <div class="collapse" id="collapseExample">
          <div class="card card-body" style="background-color: #FBC1C1;">

            <h3>Catalogos</h3>
            <ul>
              <li routerLink="./financiera">Financieras</li>
              <li>Lineas de plan piso</li>
              <li>Canales de compra</li>
              <li>Usuarios Representantes</li>
              <li>Movimientos de compra no concluida</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div> 

<!-- Modal usuario -->

<ng-template #modalData let-modal>
  <div class="modal-header" style="background-color: #FBC1C1;">
    <h3 class="modal-title" id="modal-basic-title">Añadir Usuario</h3>
    <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body" style="background-color: #EEEEEE;">
    
    <div class="row">
      <div class="col-md-6">
        <label for="perfil" class="form-label">Usuario</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.usuario">
      </div>
      <div class="col-md-6">
        <label for="perfil" class="form-label">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.nombre">
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <label for="perfil" class="form-label">Correo</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.correo">
      </div>

      <div class="col-md-4">
        <label for="perfil" class="form-label">Perfil</label>
        <select id="perfil" class="form-select" [(ngModel)]="usuario.perfil">
          <option selected>Elegir...</option>
          <option value="0">Nuevo</option>
          <option value="1">compras</option>
        </select>
      </div>
    </div>


  </div>
  <div class="modal-footer" style="background-color: #EEEEEE;">
    <!-- <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button> -->
    <button type="button" class="btn " style="  background-color: #E90729;color: white;" (click)="agregarUsuario()">Agregar</button>
  </div>
</ng-template>


<!--  -->



</div>

        
      </div>
    </div>
   
 
    
</mat-drawer-container>

