<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="./">
            <img src="../../../assets/logos/dalton_logo 1.png" alt="" width="80" height="" class="d-inline-block align-text-top">
          
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto  navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
         
            <ul style="margin-left: 50px;">
                <li>{{getName()}}</li>
                <li>Version</li>
                <li><a (click)="logout()" style="cursor: pointer;">cerrar sesion</a></li>
            </ul>
          </li>
        
      
       
        </ul>
        
          <h2 class="d-flex">DALTON SEMINUEVOS</h2>
        
      </div>
    </div>
  </nav>