<div class="container-fluid">
    <div class="row">
        <div class="col-6 log">
            <div class="card">
                <div class="card-header text-center">
                    <h4>DALTON SEMINUEVOS</h4>
                    <P style="color:#565555">Inicio de sesión</P>
                </div>
                <div class="card-body">


                      <div class="row">
                        <div class="col-12 text-center">

                          <img src="../../../assets/logos/dalton_logo 1.png" width="90px" alt=""><br>
                        <br>
                          <button class="btn btn-danger btn-danger btnLogin"  (click)="login()" *ngIf="!isLoggedIn()" >INGRESAR</button>
                  
                        </div>
                      </div>



                      <div class="row g-3 align-items-center mt-3">
                        <div class="col-12 text-center" >
                          <a style="color: #E90729;" [routerLink]="['/login/recuperacion']">Olvide contraseña</a>
                        </div>
                     
                        
                      </div>

                      <div class="text-center">
                   
                
                      </div>

                     </div>
                
              </div>
                
             
               <button class="btn btn-info "  (click)="logout()" *ngIf="isLoggedIn()">Cerrar Session</button>
        </div>

        <div *ngIf="isLoggedIn()">
          estas logueado
        </div>

        <div *ngIf="!isLoggedIn()">
         NO estas logueado
        </div>


    </div>
</div>
