.log{
    margin: 0px auto;
    width: 40%;
}

.btnLogin{
    // z-index: 4;
    background-color: #E90729;
    //  width: 10%; left: 60% ;
    //  position: absolute; margin-top: -15px;
}

.card{
    margin-top: 50px;
    background-color: 
    #EEEEEE;
}

.card-header{
    background-color: #FBC1C1;
}

// .container-fluid{
//     background-image: url('../../../assets/logos/logoFondo.png');
//     background-repeat: space;
//     width: 100%;
//     height: 100%;
//     background-size: 30%;
//     position: absolute;
// }